$kleurgroen: #B8E5D1;
@mixin flex-grid($columns) {
    display: flex;
    justify-content: center;
}

@mixin h1 {
    padding-bottom: 15px;
    color: #756F9D;
    font-size: 3.5rem;
    text-shadow: 4px 4px 4px #aaa;
    font-family: 'Dancing Script', 'cursive';
}

@mixin p {
    color: #262626;
    font-size: 1rem;
}

@mixin border {
    border: 5px solid white;
    border-radius: 5px;
}