* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.7)), to(#756f9d));
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.7), #756f9d);
  font-family: 'Mukta', sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.navigatie {
  text-align: right;
  padding: 10px;
  width: 70%;
  margin: 0 auto 10px;
}

.navigatie a {
  color: white;
  text-decoration: none;
  margin: 0 20px 0 20px;
  font-size: 1rem;
  padding: 10px;
}

.navigatie :hover {
  background-color: #756F9D;
  color: white;
  border-radius: 20px;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section .eerste {
  border: 5px solid white;
  border-radius: 5px;
  background-color: red;
  width: 30%;
  margin-right: 10px;
  margin-bottom: 20px;
}

section .tweede {
  border: 5px solid white;
  border-radius: 5px;
  background-color: #B8E5D1;
  width: 40%;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

section .tweede h1 {
  padding-top: 10px;
  padding-bottom: 15px;
  color: #756F9D;
  font-size: 4rem;
  text-shadow: 4px 4px 4px #aaa;
  font-family: 'Dancing Script', 'cursive';
  text-align: center;
}

section .tweede h2 {
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #fff;
  font-size: 2rem;
  text-align: center;
}

section .tweede p {
  color: #262626;
  font-size: 1rem;
  padding-left: 70px;
}

section .tweede p a {
  text-decoration: none;
  color: #262626;
  text-align: left;
}

.werkervaring {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.werkervaring .eerste {
  border: 5px solid white;
  border-radius: 5px;
  background-color: red;
  width: 30%;
  margin-bottom: 20px;
}

.werkervaring .tweede {
  border: 5px solid white;
  border-radius: 5px;
  background-color: #B8E5D1;
  width: 40%;
  margin-right: 10px;
  text-align: center;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.werkervaring .tweede h1 {
  padding-top: 10px;
  padding-bottom: 15px;
  color: #756F9D;
  font-size: 4rem;
  text-shadow: 4px 4px 4px #aaa;
  font-family: 'Dancing Script', 'cursive';
}

.werkervaring .tweede h2 {
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #fff;
  font-size: 1rem;
}

.werkervaring .tweede p {
  color: #262626;
  font-size: 1rem;
}

.opleidingen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.opleidingen .eerste {
  border: 5px solid white;
  border-radius: 5px;
  width: 30%;
  margin-right: 10px;
  margin-bottom: 20px;
}

.opleidingen .tweede {
  border: 5px solid white;
  border-radius: 5px;
  background-color: #B8E5D1;
  width: 40%;
  text-align: center;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.opleidingen .tweede h1 {
  padding-top: 10px;
  padding-bottom: 15px;
  color: #756F9D;
  font-size: 4rem;
  text-shadow: 4px 4px 4px #aaa;
  font-family: 'Dancing Script', 'cursive';
}

.opleidingen .tweede h2 {
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #fff;
  font-size: 1rem;
}

.opleidingen .tweede p {
  color: #262626;
  font-size: 1rem;
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skills .eerste {
  border: 5px solid white;
  border-radius: 5px;
  width: 30%;
  margin-bottom: 20px;
}

.skills .tweede {
  border: 5px solid white;
  border-radius: 5px;
  background-color: #B8E5D1;
  width: 40%;
  margin-right: 10px;
  text-align: center;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.skills .tweede h1 {
  padding-top: 10px;
  padding-bottom: 15px;
  color: #756F9D;
  font-size: 4rem;
  text-shadow: 4px 4px 4px #aaa;
  font-family: 'Dancing Script', 'cursive';
}

.skills .tweede h2 {
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #fff;
  font-size: 1rem;
}

.skills .tweede p {
  color: #262626;
  font-size: 1rem;
}

.hard-skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.hard-skills .eerste {
  border: 5px solid white;
  border-radius: 5px;
  width: 40%;
  margin-bottom: 20px;
  background-color: #B8E5D1;
  margin-right: 10px;
  padding-bottom: 20px;
}

.hard-skills .eerste h1 {
  padding-top: 10px;
  padding-bottom: 15px;
  color: #756F9D;
  font-size: 4rem;
  text-shadow: 4px 4px 4px #aaa;
  font-family: 'Dancing Script', 'cursive';
}

.hard-skills .tweede {
  border: 5px solid white;
  border-radius: 5px;
  background-color: #B8E5D1;
  width: 30%;
  margin-right: 10px;
  text-align: center;
  margin-bottom: 20px;
}

.hard-skills .tweede h1 {
  padding-top: 10px;
  padding-bottom: 15px;
  color: #756F9D;
  font-size: 4rem;
  text-shadow: 4px 4px 4px #aaa;
  font-family: 'Dancing Script', 'cursive';
}

.hard-skills .tweede h2 {
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #fff;
  font-size: 1rem;
}

.hard-skills .tweede p {
  color: #262626;
  font-size: 1rem;
}

.talen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.talen h1 {
  padding-top: 10px;
  padding-bottom: 15px;
  color: #756F9D;
  font-size: 4rem;
  text-shadow: 4px 4px 4px #aaa;
  font-family: 'Dancing Script', 'cursive';
}

.talen .eerste {
  border: 5px solid white;
  border-radius: 5px;
  width: 40%;
  margin-right: 10px;
  margin-bottom: 20px;
  background-color: #B8E5D1;
}

.talen .tweede {
  border: 5px solid white;
  border-radius: 5px;
  background-color: #B8E5D1;
  width: 30%;
  text-align: center;
  margin-bottom: 20px;
}

.talen .tweede h1 {
  padding-top: 10px;
  padding-bottom: 15px;
  color: #756F9D;
  font-size: 4rem;
  text-shadow: 4px 4px 4px #aaa;
  font-family: 'Dancing Script', 'cursive';
}

.talen .tweede h2 {
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #fff;
  font-size: 1rem;
}

.talen .tweede p {
  color: #262626;
  font-size: 1rem;
}

@media screen and (max-width: 800px) {
  .container {
    width: 80%;
    margin: 0 auto;
  }
  .navigatie a {
    display: block;
    text-align: center;
  }
  section,
  .werkervaring,
  .opleidingen,
  .skills,
  .hard-skills,
  .talen {
    display: block;
  }
  section .eerste,
  section .tweede,
  .werkervaring .eerste,
  .werkervaring .tweede,
  .opleidingen .eerste,
  .opleidingen .tweede,
  .skills .eerste,
  .skills .tweede,
  .hard-skills .eerste,
  .hard-skills .tweede,
  .talen .eerste,
  .talen .tweede {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */